<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
	<form th:action="@{/login}" th:object="${userForm}" method="POST">
		<h1>Login</h1>
		<input th:field="*{name}" placeholder="Username" type="text" required>
		<input th:field="*{password}" placeholder="Password" type="password"
			required>
		<button type="submit" value="Submit">Submit</button>

	</form>
	
</body>
</html>